:root {
  --green: #1f7a8c;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  color: rgb(255, 255, 255);
}

.h1 {
  height: 8vh;
  margin-bottom: 5vh;
  background-color: var(--green);
  text-align: center;
  font-size: 4.5vmin;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  color: #bfdbf7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form {
  height: 65vmin;
  width: 45vmin;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px black;
}

.exImg {
  padding: 20px;
  height: 50px;
  width: 50px;
}

.labels {
  height: 40%;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  border: 2px solid black;
}

label {
  height: 80%;
  width: 30%;
}
.arrow {
  height: 20px;
  width: auto;
  padding: 8px;
  border: 2px solid black;
  border-radius: 15px;
}
.arrow:hover {
  transform: scale(105%);
  background-color: #e7e6e6c0;
  animation: rotate 1s ease-in-out none 1 200ms;
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 180deg;
  }
}

.from {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.to {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

label img {
  height: auto;
  width: 80%;
}

.convert {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 10%;
  width: 85%;
  border-radius: 20px;
  border: 2px solid black;
  padding: 0 0px 0 10px;
  font-size: 1.2rem;
}

.textFrom {
  align-self: flex-start;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
}

.textTo {
  align-self: flex-start;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
}
select {
  height: 20%;
  width: 80%;
  text-align: center;
  font-weight: 700;
  scroll-behavior: smooth;
  border-radius: 8px;
}
select::-webkit-scrollbar {
  display: none;
}

option {
  height: 30px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
option img {
  height: 100%;
  width: 50px;
}

.convert button {
  width: 90%;
  height: 40%;
  border-radius: 20px;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2.5px;
}

.footer {
  width: 100vw;
  height: 80px;
  font-size: 1rem;
  position: fixed;
  bottom: 0px;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
}
.footer img {
    height: 20px;
}

.copyright {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #fffefe;
  text-decoration: underline;
  font-style: italic;
  padding-bottom: 10px;
  gap: 2px;
}
.note{
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 0.8rem;
}
@media only screen and (max-width: 600px) {
  .h1 {
    height: 8vh;
    margin-bottom: 5vh;
    background-color: var(--green);
    text-align: center;
    font-size: 1.6rem;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    color: #bfdbf7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container form {
    height: 65vmax;
    width: 80vmin;
    outline: 2px rgb(8, 8, 8) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .exImg {
    padding: 20px;
    height: 50px;
    width: 50px;
  }

  .labels {
    height: 45%;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border: 2px solid black;
  }

  label {
    height: 85%;
    width: 30%;
  }
  .arrow {
    height: 30px;
  }

  .from {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .to {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  label img {
    height: auto;
    width: 80%;
  }

  .convert {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    height: 13%;
    width: 85%;
    border-radius: 20px;
    border: 2px solid black;
    padding: 0 0px 0 15px;
    font-size: 1rem;
  }

  .inputBefore {
    align-self: flex-start;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #000;
  }
  .inputAfter {
    align-self: flex-start;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #000;
  }
  select {
    height: 20%;
    width: 80%;
    text-align: center;
    font-weight: 700;
    scroll-behavior: smooth;
    border: 1px solid black;
    border-radius: 10px;
  }
  select::-webkit-scrollbar {
    display: none;
  }

  option {
    height: 30px;
    width: 100%;
  }
  option img {
    height: 100%;
    width: 50px;
  }

  .convert p {
    padding: 20px;
    border: 2px solid #495057;
    border-radius: 50px;
    font-size: 2rem;
    box-shadow: 0px 5px 50px 0px #545a61;
    display: none;
  }

  .convert button {
    width: 92%;
    height: 45%;
    border-radius: 20px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2.5px;
  }
  .footer {
    width: 100vw;
    height: 80px;
    font-size: 1rem;
    position: fixed;
    bottom: 0px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
  }
  .footer img {
      height: 20px;
  }
  
  .copyright {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #fffefe;
    text-decoration: underline;
    font-style: italic;
    padding-bottom: 10px;
    gap: 2px;
  }
  .note{
     font-family: Arial, Helvetica, sans-serif; 
     font-size: 0.8rem;
  }
}